.wrapper {
    height: 90vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    display: grid;
}

.grid-one {
    grid-column: 1/3;
    grid-row: 1/2;
}

.gird-two {
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid-three {
    grid-column: 2/3;
    grid-row: 2/3;
}