{% extends "base.html" %}
{% load static %}
{% block url %}
<link href="{% static '/css/createaccount.css' %}" rel="stylesheet"/>
<link href="{% static '/css/profile.css' %}" rel="stylesheet"/>

<link rel="stylesheet" media="mediatype screen and (max-width: 940px)" href="{% static '/css/createaccount.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="grid-one">
        <h1>Account</h1>
        <div class="vertical-bar" style="padding-bottom: 30px;">
            <div class="user-info-bar">
                <ul class="vertical-bar-ul">
                    <li>
                        <p style="color: #F2A1A1; font-size: 28px;">Create account</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-two">
    {% block cacontent %}
    {% endblock %}
    </div>
</div>
{% endblock %}