@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Cafe24Oneprettynight', serif;
}

*:focus, *:active {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* navbar*/
@media screen and (max-width: 940px) {
    .modal-dialog .modal-content {
        height: 100% !important;
        width: 100% !important;
    }
    .nav {
        display: grid !important;
    }

    #main-dropdown-btn {
        float: right;
    }

    .main-div {
        width: 80% !important;
    }

    .background-img {
        width: initial !important;
        height: 270px;
    }
}

.background-img {
    width: inherit;
    height: 270px;
    position: absolute;
}

.main-div {
    width: 1217px;
    height: 100%;
    border: 2px #2D2D2D;
    margin: 0 auto;
}

nav {
    position: sticky;
    z-index: 2;
    /*display: ;*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: paged-x-controls;
}

/*nav #nav-btn-1, #nav-btn-2, #nav-btn-3, #nav-btn-4, #nav-btn-5, #nav-btn-6, #nav-btn-7 {*/
/*    float: left;*/
/*}*/


#nav-btn-1 {
    padding: 14px 38px;
}

.nav-item {
    padding: 14px 10px;
}

li a {
    display: block;
    color: #2D2D2D;
    text-align: center;
    text-decoration: none;
    font-family: 'Cafe24Oneprettynight', serif;
    font-size: 28px;
    cursor: pointer;
}

li a:hover {
    color: #9A9A9A !important;
}

#search-bar-input {
    width: 410px;
    height: 35px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(45, 45, 45);
    border-radius: 1px;
    font-size: 26px;
    /*margin-top: -5px;*/
    color: #2D2D2D;
}

#search-bar-submit {
    background: url(../imgs/assets/search-icon.svg) no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*margin-right: 38px;*/
}

#main-dropdown-btn {
    background: url(../imgs/assets/dropdown-btn-off.svg) no-repeat;
    padding: 16px 16px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 13px;
    /*margin-left: 38px;*/
    /*margin-right: 15px;*/
}

#main-dropdown-btn:focus {
    background: url(../imgs/assets/dropdown-btn-on.svg) no-repeat;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 4px;
    border-color: #4f4f4f;
}

.dropdown-content a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: #2D2D2D;
}

.dropdown-content a:hover {
    background-color: #9A9A9A;
}

.show {
    display: block;
}

.object {
    display: inherit;
    width: -webkit-fill-available;
    height: auto;
    display: inline-block;
}

.card {
    border: transparent !important;
}


/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

/* Add animation (Standard syntax) */
@keyframes example {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

/* The modal's background */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
    display: table;
    position: fixed;
}

/* The modal box */
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
    padding-left: 43px;
    width: auto !important;
}

/* The modal's content */
.modal-dialog .modal-content {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    text-align: justify;
    width: 40%;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    /* Add animation */
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
    text-decoration: none;
    padding-right: 30px;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.closebtn:hover,
.closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-container {
    padding: 2px 16px;
    font-size: 25px;
    color: inherit;
}

.modal-header-1>p {
    margin-top: 10px;
    text-align: center;
}

.google, .facebook {
    margin: 10px
}

.modal-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}

.modal-grid-one {
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 1px solid #9A9A9A;
    margin-left: 9%;
}

.modal-grid-two {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 15px;
}

.modal-grid-three {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 3%;
    overflow: hidden;
}

.modal-grid-two input {
    width: 80%;
    margin: 5px 15px;
    border-radius: 10px;
    border: 1px solid #9A9A9A;
}

.createaccount-btn {
    margin-left: 10%;
    background-size: 90% auto;
    width: 90%;
    height: auto;
    border: transparent;
    background-repeat: no-repeat;
    background-color: transparent;
}

.modal-grid-three>div {
    background-color: transparent;
}

/*부모 div 는 display: flex; */
/*.span-icons {*/
/*    width: -webkit-fill-available;*/
/*    height: auto;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    margin: 30px;*/
/*}*/
#pButton {
    position: absolute;
    left: 32%;
    top: 42%;
    /*display: none;*/
    cursor: pointer;
}
.play {
    background: url(/static/imgs/Play.png);
}

.pause {
    background: url(/static/imgs/Pause.png);
}

#timeline{
    width: 400px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);

}
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);

}