@media screen and (max-width: 940px) {
    .wrapper {
        display: grid;
        height: 100% !important;
        grid-template-rows: 15% 20% 65% !important;
        grid-template-columns: 100% !important;
    }

    .grid-one {
        grid-column: 1/2 !important;
        grid-row: 1/2 !important;
    }

    .grid-two {
        grid-column: 1/2 !important;
        grid-row: 2/3 !important;
    }

    .grid-three {
        grid-column: 1/2 !important;
        grid-row: 3/4 !important;
    }
}
.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
}

.grid-one {
    grid-column: 1/3;
    grid-row: 1/2;
    border-bottom: 1px solid #9A9A9A;
    padding-top: 30px;
}

.grid-two {
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid-three {
    grid-column: 2/3;
    grid-row: 2/3;
}

.menu--bar-without-url>ul>li {
    list-style: none;
    padding: 15px;
}

.menu--bar-without-url>ul>li>a {
        text-align: left;
}

.profile-user-pic-box {
    /* display: inline-block; */
    margin: 10px 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    width: 200px;
    height: 268px;
    float: left;
    margin: 21px;
}

/*.active-n*/